@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

